<!DOCTYPE html>
<html lang="en">
    <body>
      <h1>Website Availability Rate</h1>
      <p>The success rate is: {{rate}}</p>
      <p>Total records in database: {{all}}</p>
      <p>Successful Request: {{success}}</p>
      <p>Failed Request: {{fail}}</p>
      <p>Is process done? {{status}}</p>
      <b>Below show availability rate for remote and local requests respectively:</b>
      <p>The success rate for remote requests is: {{rate_for_remote}}</p>
      <p>The success rate for local requests is: {{rate_for_local}}</p>
    </body>
</html>
